body {
    font-family: sans-serif;
}

.main {
    position: fixed; /* Фиксированное положение */
    right: 10px; /* Расстояние от правого края окна браузера */
    top: 11%; /* Расстояние сверху */
    padding: 10px; /* Поля вокруг текста */
    background: #FF8C00; /* Цвет фона */
    border: 1px solid #FFFFFF; /* Параметры рамки */
    width: 90px;
    text-align: center;
}

.basket {
    position: fixed; /* Фиксированное положение */
    right: 10px; /* Расстояние от правого края окна браузера */
    top: 6%; /* Расстояние сверху */
    padding: 10px; /* Поля вокруг текста */
    background: #FF8C00; /* Цвет фона */
    border: 1px solid #FFFFFF; /* Параметры рамки */
    width: 90px;
    text-align: center;
}

.account {
    position: fixed; /* Фиксированное положение */
    right: 10px; /* Расстояние от правого края окна браузера */
    top: 1%; /* Расстояние сверху */
    padding: 10px; /* Поля вокруг текста */
    background: #FF8C00; /* Цвет фона */
    border: 1px solid #FFFFFF; /* Параметры рамки */
    width: 90px;
    text-align: center;
}

.topline {
    position: fixed;
    background: #FFFFFF;
    top: 0%;
    text-align: left;
}

.menu table {
    width: 1700px;
    margin: auto;
    padding-left: 40px;
}

a {
    text-decoration: none
}

span {
    color: #FFFFFF;
}

hr {
    border: none;
    border-top: 3px double #FF8C00;
    color: #FF8C00;
    overflow: visible;
    height: 5px;
}

.dish {
    width: 200px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
    border-radius: 28px;
}

.price td {
    font-weight: bolder;
}
