body {
    font-family: sans-serif;
}

.infoCategory {
    padding: 10px; /* Поля вокруг текста */
    background: #FF8C00; /* Цвет фона */
    border: 1px solid #FFFFFF; /* Параметры рамки */
    width: 200px;
    color: #FFFFFF;
}

.historyCategory {
    padding: 10px; /* Поля вокруг текста */
    background: #FF8C00; /* Цвет фона */
    border: 1px solid #FFFFFF; /* Параметры рамки */
    width: 200px;
    color: #FFFFFF;
}

.confirmCategory {
    padding: 10px; /* Поля вокруг текста */
    background: #FF8C00; /* Цвет фона */
    border: 1px solid #FFFFFF; /* Параметры рамки */
    width: 200px;
    color: #FFFFFF;
}

.blockCat {
    width: 400px;
    height: 600px;
    background: #FFFFFF;
    border: 2px solid #ccc;
    /*    overflow: scroll; прокрутка*/

}

.blockHist {
    width: 400px;
    height: 600px;
    background: #FFFFFF;
    border: 2px solid #ccc;
    /*    overflow: scroll; прокрутка*/

}

.blockConfirm {
    width: 800px;
    height: 600px;
    background: #FFFFFF;
    border: 2px solid #ccc;
    /*    overflow: scroll; прокрутка*/

}

#check_label:checked ~ .blockCat {
    height: 0px;
    opacity: 0;
}

#check_label {
    display: none;
}

#checkHist_label:checked ~ .blockHist {
    height: 0px;
    opacity: 0;
}

#checkHist_label {
    display: none;
}

#checkInP_label:checked ~ .blockHist {
    height: 0px;
    opacity: 0;
}

#checkInP_label {
    display: none;
}

span {
    color: #FFFFFF;
}

a {
    text-decoration: none
}

.titleAccount {
    top: 0.5%;
    position: fixed;
    right: 650px;
    z-index: 9998 !important;
}

.menu {
    position: fixed; /* Фиксированное положение */
    right: 10px; /* Расстояние от правого края окна браузера */
    top: 1%; /* Расстояние сверху */
    padding: 10px; /* Поля вокруг текста */
    background: #FF8C00; /* Цвет фона */
    border: 1px solid #FFFFFF; /* Параметры рамки */
    width: 90px;
    text-align: center;
}

.basket {
    position: fixed; /* Фиксированное положение */
    right: 10px; /* Расстояние от правого края окна браузера */
    top: 6%; /* Расстояние сверху */
    padding: 10px; /* Поля вокруг текста */
    background: #FF8C00; /* Цвет фона */
    border: 1px solid #FFFFFF; /* Параметры рамки */
    width: 90px;
    text-align: center;
}

.signOut {
    position: fixed;
    bottom: 0;
    right: 20px;
    width: 7%;
}