body {
    background: url(../images/background.jpg) no-repeat fixed;
    background-size: 100%; /* Современные браузеры */
    font-family: sans-serif;
}

span {
    color: #FFFFFF;
}

a {
    text-decoration: none
}

.logo {
    position: fixed;
    left: 20px;
    top: 5%;
}

.auth {
    position: fixed;
    background: #fcfcfc;
    top: 25%;
    right: 700px;
    text-align: center;
    border-radius: 30px;
    border: 1px solid #000;
    width: 400px;
}

.registration {
    position: fixed;
    background: #fcfcfc;
    top: 50%;
    right: 700px;
    text-align: center;
    border-radius: 30px;
    width: 400px;
    border: 1px solid #000;
}

span {
    color: #FFFFFF;

}

.button_sign {
    display: inline-block;
    width: 200px;
    background: #FF8C00;
    color: #fff;
    border-radius: 30px;
    font-size: 20px;
    border: 0 none;
}

input[type="text"] {
    display: inline-block;
    width: 300px;
    border-radius: 30px;
    color: #706e6b;
    font-size: 20px;
    border-color: #666563;
}

input[type="password"] {
    display: inline-block;
    width: 300px;
    border-radius: 30px;
    color: #706e6b;
    font-size: 20px;
    border-color: #666563;
}

.localeBtnEn {
    background: #31332e;
    border-color: #f2a633;
    color: #f2a633;
    transition-duration: 0.4s;
    border-radius: 0.75em;
    padding: 0.25em 1em;
    top: 1%;
    position: fixed;
    right: 180px;
    width: 50px;
}

.localeBtnRu {
    background: #31332e;
    border-color: #f2a633;
    color: #f2a633;
    transition-duration: 0.4s;
    border-radius: 0.75em;
    padding: 0.25em 1em;
    top: 1%;
    position: fixed;
    right: 240px;
    width: 50px;
}

.localeBtnRu:hover {
    cursor: pointer;
    background: #fff;
    border-color: #212529;
    color: #212529;
}

.localeBtnEn:hover {
    cursor: pointer;
    background: #fff;
    border-color: #212529;
    color: #212529;
}
