body {
    background: url(../images/aboutback.jpeg) no-repeat fixed;
    background-size: 100%; /* Современные браузеры */
    font-family: sans-serif;
    color: white;
}

.topline {
    position: fixed;
    top: 1%;
    left: 38%;
    width: 2000px;
}


a {
    text-decoration: none
}

span {
    color: #FFFFFF;
}

.localeBtnEn {
    background: #fafcf5;
    border-color: #8da36a;
    color: #212529;
    transition-duration: 0.4s;
    border-radius: 0.75em;
    padding: 0.25em 1em;
    top: 1%;
    position: fixed;
    right: 180px;
    width: 50px;
}

.localeBtnRu {
    background: #fafcf5;
    border-color: #8da36a;
    color: #212529;
    transition-duration: 0.4s;
    border-radius: 0.75em;
    padding: 0.25em 1em;
    top: 1%;
    position: fixed;
    right: 240px;
    width: 50px;
}

.lng:hover {
    cursor: pointer;
    background: #fff;
    border-color: #212529;
    color: #212529;
}

.lng {
    position: relative;
    z-index: 9998!important;
    color: #212529;
}

.signIn {
    position: fixed; /* Фиксированное положение */
    right: 50px; /* Расстояние от правого края окна браузера */
    top: 0.2%; /* Расстояние сверху */
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    border-color: white;
    z-index: 9998 !important;
}

.cathInfo{
    margin-top: 10%;
    margin-left: 40%;
    font-size: 19px;
}

.chefInfo{
    margin-top: 7%;
    margin-left: 42%;
    font-size: 19px;
    max-width: 600px;
    text-align: right;
}

.menu {
    position: fixed; /* Фиксированное положение */
    right: 50px; /* Расстояние от правого края окна браузера */
    top: 6%; /* Расстояние сверху */
    text-decoration: none;
    text-transform: uppercase;
    z-index: 9998 !important;
}

.margo img{
    position: fixed;
    bottom: 0.5%;
    right: 30px;
    width: 20%;
}
