body {
    font-family: sans-serif;
}

.wrapper {
    flex: 1 0 auto;
}

.main {
    padding: 1em;
    text-align: center;
    margin-top: 6%;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

.title{
    top: 0.5%;
    position: fixed;
    right: 650px;
    z-index: 9998 !important;
}


th {
    border: 1px solid;
}

td {
    border: 1px solid;
}

tr {
    border: 1px solid;
}

tr:hover td {
    background: #dbf2d5;
}

#confirmBtn {
    display: inline-block;
    border-radius: 20px;
    background: orange;
    border-color: orange;
    margin: 4px;
    width: 65%;
    min-width: 75px;
}

#confirmBtn:hover {
    background: darkgreen;
    border-color: #8da36a;
    color: white;
}