body {
    font-family: sans-serif;
}

.main {
    position: fixed; /* Фиксированное положение */
    right: 10px; /* Расстояние от правого края окна браузера */
    top: 11%; /* Расстояние сверху */
    padding: 10px; /* Поля вокруг текста */
    background: #FF8C00; /* Цвет фона */
    border: 1px solid #FFFFFF; /* Параметры рамки */
    width: 90px;
    text-align: center;
}

.topline {
    position: fixed;
    background: #FFFFFF;
    top: 0%;
    width: 2000px;
}

a {
    text-decoration: none
}

span {
    color: #FFFFFF;
}

.localeBtnEn {
    background: #fafcf5;
    border-color: #8da36a;
    color: #212529;
    transition-duration: 0.4s;
    border-radius: 0.75em;
    padding: 0.25em 1em;
    top: 1%;
    position: fixed;
    right: 180px;
    width: 50px;
}

.localeBtnRu {
    background: #fafcf5;
    border-color: #8da36a;
    color: #212529;
    transition-duration: 0.4s;
    border-radius: 0.75em;
    padding: 0.25em 1em;
    top: 1%;
    position: fixed;
    right: 240px;
    width: 50px;
}

.lng:hover {
    cursor: pointer;
    background: #fff;
    border-color: #212529;
    color: #212529;
}

.lng {
    position: relative;
    z-index: 9998!important;
    color: #212529;
}
