body {
    background: url(../images/background.jpg) no-repeat fixed;
    background-size: 100%; /* Современные браузеры */
    font-family: sans-serif;
}

.logo {
    position: fixed;
    left: 200px;
    top: 30%;
}

.linkmenu {
    position: fixed;
    left: 1100px;
    top: 38%;
    padding: 10px;
    background: #FF8C00;
    width: 180px;
    text-align: center;
}

.linkauth {
    position: fixed;
    left: 1100px;
    top: 32%;
    padding: 10px;
    background: #FF8C00;
    width: 180px;
    text-align: center;
}

.linkabout {
    position: fixed;
    left: 1100px;
    top: 44%;
    padding: 10px;
    background: #FF8C00;
    width: 180px;
    text-align: center;
}

a {
    text-decoration: none
}

hr {
    border: none;
    border-top: 3px double #FF8C00;
    color: #FF8C00;
    overflow: visible;
    height: 5px;
    margin-top: 50.25em;
}

span {
    color: #FFFFFF;

}

.localeBtnEn {
    background: #31332e;
    border-color: #f2a633;
    color: #f2a633;
    transition-duration: 0.4s;
    border-radius: 0.75em;
    padding: 0.25em 1em;
    top: 1%;
    position: fixed;
    right: 180px;
    width: 50px;
}

.localeBtnRu {
    background: #31332e;
    border-color: #f2a633;
    color: #f2a633;
    transition-duration: 0.4s;
    border-radius: 0.75em;
    padding: 0.25em 1em;
    top: 1%;
    position: fixed;
    right: 240px;
    width: 50px;
}

.localeBtnRu:hover {
    cursor: pointer;
    background: #fff;
    border-color: #212529;
    color: #212529;
}

.localeBtnEn:hover {
    cursor: pointer;
    background: #fff;
    border-color: #212529;
    color: #212529;
}