body {
    font-family: sans-serif;
}

.entity{
    margin-top: 6%;
}

.menu table {
    margin: auto;
    border-collapse: separate;
    font-family: sans-serif;
}

a {
    text-decoration: none
}

span {
    color: #FFFFFF;
}

hr {
    border: none;
    border-top: 3px double #FF8C00;
    color: #FF8C00;
    overflow: visible;
    height: 5px;
}

.dish {
    width: 300px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}